.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

/* Tablet responsiveness */
@media (max-width: 56.25em) { /* 900px */
  .nav ul {
    gap: 2.5rem;
  }
  
  .nav a:link,
  .nav a:visited {
    font-size: 1.4rem;
  }
  
  a.ctaLink:link,
  a.ctaLink:visited {
    padding: 0.7rem 1.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 37.5em) { /* 600px */
  .nav {
    flex-direction: column;
    gap: 2rem;
  }
  
  .nav ul {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .nav a:link,
  .nav a:visited {
    font-size: 1.6rem;
  }
  
  a.ctaLink:link,
  a.ctaLink:visited {
    padding: 1rem 2rem;
  }
}
