.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.8rem);
}

/* Tablet responsiveness */
@media (max-width: 56.25em) { /* 900px */
  .sidebar {
    flex-basis: auto;
    height: auto;
    min-height: 50vh;
    padding: 2rem 3rem;
    width: 100%;
  }
}

/* Mobile responsiveness */
@media (max-width: 37.5em) { /* 600px */
  .sidebar {
    padding: 1.5rem 2rem;
    min-height: 40vh;
  }
}


